<div>
  <div class="row">
    <div class="col-6" >
        <ag-grid-angular
        style="width: 800px; height: 450px; zoom:80%"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs">
        </ag-grid-angular>
    </div>
    <div class="col-6">
      <fusioncharts
      class="time-sert"
      [width]="width"
      [height]="height"
      [type]="type"
      [dataFormat]="dataFormat"
      [dataSource]="dataSource"
    >
    </fusioncharts>
    </div>
  </div>
  <div class="row row-padding">
    <div class="col-6" >
        <ag-grid-angular
        style="width: 800px; height: 450px; zoom:80%"
        class="ag-theme-alpine"
        [rowData]="rowmdData"
        [columnDefs]="columnmdDefs">
        </ag-grid-angular>
    </div>
    <div class="col-6">
      <fusioncharts
      class="time-sert"
      [width]="width"
      [height]="height"
      [type]="type"
      [dataFormat]="dataFormat"
      [dataSource]="datamdSource"
    >
    </fusioncharts>
    </div>
  </div>
</div>  
